body {
  background-color: lightgrey;
  color: darkblue;
  font-family: verdana;
  font-size: 20px;
}
.center-div {
     margin: 0 auto;
     width: 1000px;
     text-align: center;
}
h1 {
  color: darkblue;
  text-align: center;
}

div.simulations {
    display: table;
}

div.simulation {
    display: table-row;
}

div.name, div.temperature, div.cursor_position {
    display: table-cell;
    padding: 5px 15px;
    width: 120px;
}

form.situation-input {
    display: table;
}

div.situation-input {
    display: table-row;
}
