body {
  background-color: lightgrey;
  color: darkgreen;
  font-family: verdana;
  font-size: 20px;
}

h1 {
  color: darkgreen;
  text-align: center;
}

div.simulations {
    display: table;
}

div.simulation {
    display: table-row;
}

div.name, div.temperature, div.cursor_position {
    display: table-cell;
    padding: 5px 15px;
    width: 120px;
}

